/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


:root {
  --bg-main: #1f2937;
  --bg-card: #24283b;
  --header-padding: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr 2fr;
  background-color: #e2e8f0;
}

.header {
  background-color: #fff;
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.header-name {
  grid-column: 1 / 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: var(--header-padding);
  padding-bottom: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.avatar {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.header-user {
  grid-column: 2;
  grid-row: 1;
}

.header-button {
  grid-column: 2;
  grid-row: 2;
  
}

.header-search {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: var(--header-padding);
  padding: 2rem;
}

input {
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  background-color: #e2e8f0;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  outline: 0px solid transparent;
  transition: outline 0.2s ease, border-color 0.2s ease;
  outline-offset: 0;
  padding: 1px 10px;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: #4a93f2;
  box-shadow: 2px 4px 8px -1px hsla(213, 10%, 21%, 0.25);
}


.dashboard {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.logo-link,
.nav-link {
  color: black;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

li {
  list-style: none;
}